.margin-auto {
  margin: 0 auto;
}

#litepicker {
  width: 200px;
  text-align: center;
}

footer {
  background-color: #e9ecef;
}

main {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.footer {
  height: 70px;
}

.footer-link {
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
}
